.OnlineStore{
    border: 1px solid red;
    height: 60px;
    background-color: #ffeac1;
}
.OnlineStoreFirst{
    text-align: center;
    font-size: 15px;
    border: 1px solid red;
    margin-top: 0px;
}
.OnlineStoreSecond{
    margin-top: 0px;
}
.Whiteline{
    border: 1px solid red;
    margin-top: 0px;
}